<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Peace out loser</h1>
    <p>
      You have successfully been deleted xD,
    </p>
    <p>
      If you want to make a new account go to.
    </p>
    <p>Thanks for leaving and have a great day!</p>
  </body>
</html>